.gallery-element__trash {
  width: 18px;
  height: 19.3px;
  position: absolute;
  top: 20px;
  right: 20px;
  transition: 0.5s;
  background-image: url(../../../images/trash/Trash.svg);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 0;
  display: none;
}

.gallery-element__trash:hover {
  opacity: 0.6;
}
