.gallery-element__like-button {
  width: 22px;
  height: 19px;
  border: 0;
  margin: 0;
  padding: 0;
  transition: 0.3s;
  background-image: url(../../../images/like-button/like-button.svg);
  background-color: var(--background-color-second);
  background-size: cover;
  background-repeat: no-repeat;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.gallery-element__like-button:hover {
  opacity: 0.5;
}
