.popup__save-button {
  width: 100%;
  max-width: 358px;
  min-height: 50px;
  background-color: var(--background-color-main);
  color: var(--font-color-first);
  border: 0;
  border-radius: 2px;
  transition: 1s;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  cursor: pointer;
}

.popup__save-button:hover {
  opacity: 0.8;
}


@media screen and (max-width: 530px) {
  .popup__save-button {
    max-width: 238px;
    font-size: 14px;
  }
}
